body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: var(--bg-grey);

    --text-white: #ffffff;
    --text-dark: #142136;
    --color-red: #ff4b4b;
}

.dark-theme {
    --text-white: #070707;
    --text-dark: #ffffff;
    --bg-grey: #1f1f1f;
    --color-red: #fa739e;
  }

#switchBtn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(158, 121, 121);
    font-size: medium;
    color: var(--text-dark);
}

.list {
    text-align: center;
    
}

.list-item {
    display: inline-block;
    list-style-type: none;
    letter-spacing: 2.7px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin: 72px;
    margin-bottom: 25.5px;
    margin-top: 25.5px;
    
}

.list-item a {
    text-decoration: none;
    color: var(--color-red);
}

.photo img {
    width: 100%;

}

.main {
    text-align: center;
    margin:0 auto;
    max-width: 1145px;
}
.main p{
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: var(--text-dark);
    
}
.name {
    text-transform: uppercase;
    color: var(--text-dark);
  
}

.button {
    text-align: center;
    padding: 18px 43px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    letter-spacing: 1.8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    margin-top: 66px;
    margin-bottom: 82px;
    cursor: pointer;
}
.footer{
    text-align: right;
    letter-spacing: 2.4px;
    font-weight: bold;
    margin-right: 105px;
    margin-bottom: 29px;
    color: var(--text-dark);
    
}
