footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding-top: 38px;
    padding-right: 35px;
    padding-left: 35px;

}

.footer-title {
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}

.footer-tablet-dekstop-text{
color: white;
}

.footer-text {
    color: rgba(185, 185, 185, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-top: 8px;
}

.social-media-img-container {
    margin: 26px 0;
    a {
        display: inline-block;
        margin-right: 4px;
    }

    a:last-child {
        margin-right: 0;
    }
}

.footer-information {
    color: rgba(185, 185, 185, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 50px;
    display: block;
    margin-top: 25px;
}