
.site-container {
    padding: 25px;
    max-width: 1290px;
    margin: auto;
}

img {
    max-width: 100%;
}

.header-railway{
 margin-bottom: 38px;
}

.burger-menu {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 44px;
    height: 37px;
    margin: 0 0 0 auto;
    margin-bottom: 23px;
    cursor: pointer;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
}


.navigation-wrapper {
    position: relative;
}

.burger-opened-tab {
    display: none;

}

.burger-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 1);
    position: fixed;
    width: 182px;
    height: 208px;
    right: 25px;
    top: -100%;
   overflow: hidden;
}

.burger-item {
    list-style-type: none;
    width: 182px;
    height: 30px;
    font-size: 11px;
    letter-spacing: 1.1px;
    background-color: #f5f5f5;
    padding: 10px 0 10px 10px;
    text-transform: uppercase;
    font-family: "roboto flex";

    a {
        text-decoration: none;
        color: #4e4e4e;
    }

    a:hover {
        color: #57a4a4;
    }
}

.burger-menu.active {
    .burger-unopened-tab {
        display: none;
    }

    .burger-opened-tab {
        display: block;
    }
}

.burger-menu-container.active {
    top: 63px;
}