.instagram-shot-title-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 78px;
    text-transform: uppercase;
    font-weight: 700;
font-size: 14px;
line-height: 22px;
color: #4E4E4E;

margin-bottom: 13px;
}