.mobile {
  display: none;
}




@media (max-width: 767px) {
  .footer-text span {
    display: none;
  }

  .tablet-dekstop-text {
    display: none;
  }

  .instagram-shots-picture-container :nth-child(n+2) {
    display: none;
  }

  .post-card:nth-child(4) {
    display: none;

  }

  .tabl-desk {
    display: none;
  }

  .instagram-shot-subtitle {
    display: none;
  }
}


@media (min-width: 768px) {

  .site-container {
    padding: 40px 9% 44px;
  }

  .text-wrapper .post-card-name {
    font-size: 16px;
  }

  .active {
    top: 0 !important;
  }

  .top-menu {
    text-align: center;
  }

  .navigation-wrapper {
    text-align: center;
  }

  .burger-menu {
    display: none;
  }

  .burger-menu-container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0 8%;
    justify-content: space-between;
    right: 0;
    top: 0;
    width: 100%;
    background-color: white;
    height: auto;

    .burger-item {
      background-color: transparent;
      width: auto;
      height: auto;
      white-space: nowrap;
      margin-bottom: 42px;
      padding: 0;
    }
  }

  .post-title {
    font-size: 16px;
  }

  .post-card {
    display: flex;

    img {
      margin-bottom: 32px;
      margin-right: 20px;
    }

    span {
      margin-bottom: 10px;
    }
  }

  .instagram-shots-picture-container {
    display: flex;
    width: 250px;
    height: 250px;
    gap: 10px;

    :nth-child(4) {
      display: none;
    }


  }

  .recent-posts-card:last-child {
    img {
      margin-bottom: 0;
    }

  }

  .footer-text {
    font-size: 16px;
    line-height: 28px;
  }


  .footer-text-wrapper {
    max-width: 684px;
    margin: auto;
  }

  .instagram-shot-subtitle {
    text-align: end;
    font-size: 13px;
  }

  .instagram-shots-title {
    font-size: 16px
  }
}

@media (min-width: 1199px) {

  .site-container {
    padding: 42px 60px 36px;
  }

  .instagram-shots-picture-container {
    display: flex;

    :nth-child(4) {
      display: block;
    }
  }

  .recent-post-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .instagram-shots-picture-container {
    width: 285px;
    height: 285px;
  }



}