.recent-post-wrapper{
    display: grid;
    gap: 28px;
}


.post-title{
    margin-bottom: 23px;
    font-weight: 700;
font-size: 14px;
line-height: 22px;
color: rgba(78, 78, 78, 1);
text-transform: uppercase;
}

.text-wrapper{
    .post-card-name{
        font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: rgba(78, 78, 78, 1);
    }
    span{
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        color:rgba(124, 124, 124, 1);
    }
}

.tablet-dekstop-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(92, 92, 92, 1);
    margin-top: 13px;
}
