.card-сontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    color: white;
    text-align: center;
}

.card{
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.header-container{
    background-color: rgb(107, 226, 107);
    display: flex;
    position: relative;
}

.svg-container{
  position: absolute;
   left:95%;
   top: 55%;
   cursor: pointer;
   display: flex;
}

.star{
    position: relative;
    left: 24%;
}
.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);  
    
}


.modal{
    width: 30%;
    height: 25%;
    position: relative;
    left: 35%;
    top: 10%;
    color: #ffff;
}

.modal_header{
text-align: start;
margin-left: 15px;
}

.modal_text{
    margin: 10px;
    margin-top: 50px;
    font-size: 20px;
}

.modal_closeWindow{
position: absolute;
left: 96%;
top: 2%;
cursor: pointer;
}

.btn1 {
    color: white;
    background-color: rgb(236, 83, 83);
    margin: 20px;
    border: none;
    width: 80px;
    height: 40px;
    cursor: pointer;
}

.btn2 {
    color: white;
    background-color: rgb(236, 83, 83);
    margin: 20px;
    margin-top: 50px;
    border: none;
    width: 80px;
    height: 40px;
    cursor: pointer;
    }
    
.modal_btn{
margin-top: 20px;
 height: 35px;
 font-size: 16px;
 cursor: pointer;
 
}

.star-item{
    z-index: 2;
}