.active-tab-content {
    display: block !important;
}

.tabs {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.tabs-title {
    padding: 30px 60px;
    background-color: #8d7c69;
    border: 1px solid rgb(0 0 0);
}

.tabs-content li {
    display: none;
}

.active {
    background-color: purple;
}



