.btn1 {
    color: white;
    background-color: rgb(236, 83, 83);
    margin: 20px;
    border: none;
    width: 80px;
    height: 40px;
    cursor: pointer;
}

.btn2 {
    color: white;
    background-color: rgb(236, 83, 83);
    margin: 20px;
    margin-top: 50px;
    border: none;
    width: 80px;
    height: 40px;
    cursor: pointer;
    }
    
.modal_btn{
margin-top: 20px;
 height: 50px;
 font-size: 20px;
 
}