.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);  
}


.modal{
    width: 30%;
    height: 25%;
    position: relative;
    left: 35%;
    top: 10%;
    color: #ffff;
}

.modal_header{
text-align: start;
margin-left: 15px;
}

.modal_text{
    margin: 10px;
    margin-top: 50px;
    font-size: 20px;
}

.modal_closeWindow{
position: absolute;
left: 96%;
top: 2%;
cursor: pointer;
}
