body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.parallax {
    background-image: url(../img/Section-backgrounds/section-1\(header\).jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container,
.text-container,
.main-container,
.our-work-content-container,
.breaking-news-container,
.the-ham-title-container,
.the-ham-feedback-container {
    max-width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.nav-bar {
    height: 120px;
    top: 0px;
    background: rgba(94, 93, 88, 0.6);
    margin-bottom: 264px;
}

.nav-menu {
    display: flex;
    gap: 21px;
    margin-top: 50px;
    margin-left: 305px;

}

.nav-item a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
}

.nav-item a:hover {
    color: #18cfab;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 53px;
}

.text-container {
    text-align: center;
    display: block;
}

.header-text {
    color: white;
    font-weight: 700;
    font-size: 35px;

}

.color-change {
    color: rgba(24, 207, 171, 1);
    margin-left: 5px;
}

.header-creative {
    font-size: 78px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-top: 21px;
    font-weight: 700;
}

.header-call {
    font-family: 'Montserrat';
    color: rgba(212, 212, 212, 1);
    font-style: normal;
    margin-top: 21px;
    font-size: 34px;
    margin-bottom: 134px;
}

.ExploreBtn {
    padding: 16px;
    background-color: rgba(24, 207, 171, 1);
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat';
    border: none;
    margin-right: 26px;
    margin-bottom: 261px;
    cursor: pointer;
    box-shadow: 0px -5px 0 0px rgb(255 255 255);
    border-radius: 4px;
}

.PurchaseBtn {
    padding: 16px;
    background-color: rgba(0, 203, 246, 1);
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat';
    border: none;
    text-transform: uppercase;
    margin-bottom: 261px;
    cursor: pointer;
    box-shadow: 0px -5px 0 0px rgb(255 255 255);
    border-radius: 4px;
}

.shape-container {
    display: flex;

}

.shape-item {
    width: 482px;
    height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shape-item img {
    padding-bottom: 47px;
}

.shape-item p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.shape-item:nth-child(odd) {
    background-color: #1c2a33;
    color: #18cfab;


}

.shape-item:nth-child(even) {
    background: #18CFAB;
    color: #ffffff;
}

.main-container {
    padding-top: 92px;
    display: block;
}

.title {
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
}

.title::after {
    content: ' ';
    background-color: #18cfab;
    width: 75px;
    position: absolute;
    height: 1px;
    left: 537px;
    top: 66px;
}

.title::before {
    content: ' ';
    background-color: #18cfab;
    width: 75px;
    position: absolute;
    height: 1px;
    left: 550px;
    top: 71px;
}

.tabs-item {
    padding: 17px 34px;
    border: 1px solid #EDEFEF;
    background: #F8FCFE;
}

.active-tab-content {
    display: flex !important;
}

.tabs {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.tabs li {
    cursor: pointer;
}

.tabs-content li {
    display: none;
}

.active {
    background-color: #18cfab;
    position: relative;
    color: #ffffff;
}

.tabs-content img {
    width: 194px;
    height: 140px;
    margin-right: 13px;
    margin-left: 35px;
    margin-top: 23px;
}

.tabs-item:hover {
    border: 1.5px solid #18cfab;
}

.active::after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #18cfab;
    position: absolute;
    left: 42%;
    top: 100%;
    width: 0;
    height: 0;
}

.tabs-content p {
    margin-top: 28px;
    font-weight: 300;
    font-size: 13.645px;
}

.just-buy {
    background-image: url(../img/Section-backgrounds/section-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 91px;
    padding-top: 128px;
    background-color: rgb(75, 75, 75);
    background-blend-mode: multiply;

}

.title-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: rgba(24, 207, 171, 1);
}

.title-subtitle {
    font-size: 16px;
    color: #D8D8D8;
    margin-top: 12px;
}

.title-purchaseBtn {
    padding: 16px;
    background-color: rgba(24, 207, 171, 1);
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat';
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 67px;
    margin-bottom: 128px;
    box-shadow: 0px -5px 0 0px rgb(255 255 255);
    border-radius: 4px;
}

.amazing-work {
    background-color: #e9edef;
    padding-bottom: 100px;
    padding-top: 96px;
}

.our-work-title {
    color: rgba(78, 78, 78, 1);
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    position: relative;
    text-align: center;

}

.our-work-title::after {
    content: ' ';
    background-color: #18cfab;
    width: 75px;
    position: absolute;
    height: 1px;
    left: 537px;
    top: 66px;
}

.our-work-title::before {
    content: ' ';
    background-color: #18cfab;
    width: 75px;
    position: absolute;
    height: 1px;
    left: 550px;
    top: 71px;
}

.our-work-content-container {
    display: block;
}

.our-work-tabs {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.sort-items:nth-child(1) {
    padding: 14px 28px;
}

.sort-items {
    padding: 14px 12px;
    border: 1px solid #EDEFEF;
    background: #F8FCFE;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    cursor: pointer;
    margin-bottom: 71px;
}

.sort-items:hover{
    border: 1.5px solid #18cfab;
}

.our-work-img-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    justify-content: center;
}

.our-work-img-container img {
    display: block;
}

.flip-card {
    background-color: transparent;
    width: 284px;
    height: 206px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #e9edef;
    color: black;
}

.flip-card-back {
    background-color: #e9edef;
    color: #8a8a8a;
    transform: rotateY(180deg);
}

.flip-card-back-img-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 25px;
}

.flip-card-back-img-container::after {
    content: '';
    background-color: #18cfab;
    width: 284px;
    position: absolute;
    height: 2.5px;
    top: 0;
}

.flip-card-back-img-container img {
    cursor: pointer;
}

.flip-card-back-img-container img:nth-child(1) {
    margin-right: 5px;
}

.flip-card-back p {
    color: #18cfab;
    font-weight: 700;
    line-height: 25px;
}

.load-more-btn {
    background-color: #18cfab;
    border: none;
    border-radius: 3px;
    padding: 22px 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.load-more-btn span {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
}

.load-more-btn-hidden {
    display: none;
}

.load-more-btn-icon {
    margin-right: 15px;
    color: #ffffff;
}

.active-sort-tab {
    border: 1.5px solid #18cfab;
    color: #18cfab;
}

.breaking-news-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: rgba(78, 78, 78, 1);
    text-align: center;
    position: relative;
}

.breaking-news-container {
    display: block;
    padding: 82px;
}

.breaking-news-title::after {
    content: ' ';
    background-color: #18cfab;
    width: 75px;
    position: absolute;
    height: 1px;
    left: 537px;
    top: 66px;
}

.breaking-news-title::before {
    content: ' ';
    background-color: #18cfab;
    width: 75px;
    position: absolute;
    height: 1px;
    left: 550px;
    top: 71px;
}

.breaking-news-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 130px;
    margin-top: 101px;
}

.breaking-news-content-container p {
    margin-left: 15px;
}

.breaking-news-content-container a {
    text-decoration: none;
    position: relative;
    margin-bottom: 44px;
}

.breaking-news-content-container p:nth-child(2) {
    color: #717171;
    font-weight: 700;
    font-size: 18px;
}

.breaking-news-content-container p:nth-child(3) {
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
}

.breaking-news-content-container img {
    margin-bottom: 14px;
}

.breaking-news-content-container a::before {
    text-align: center;
    right: 0;
    content: '12 Feb';
    position: absolute;
    background-color: #203e38;
    color: #ffffff;
    font-size: 16px;
    padding: 16px 17px;
    inline-size: 30px;
}

.breaking-news-content-container a:hover::before {
    background-color: #18cfab;
}

.breaking-news-content-container a:hover .breaking-news-hover {
    color: #18cfab;
}

.the-ham-title-container {
    color: #ffffff;
    font-size: 36px;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
}

.the-ham-section {
    background-image: url(../img/Section-backgrounds/section-3.jpg);
    padding-top: 98px;
    background-color: rgb(181, 209, 223);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;

}

.the-ham-title-container::after {
    content: ' ';
    background-color: #18cfab;
    width: 75px;
    position: absolute;
    height: 1px;
    left: 537px;
    top: 66px;
}

.the-ham-title-container::before {
    content: ' ';
    background-color: #18cfab;
    width: 75px;
    position: absolute;
    height: 1px;
    left: 550px;
    top: 71px;
}

.the-ham-feedback-container {
    text-align: center;
    display: block;
}

.the-ham-feedback-container img {
    margin-bottom: 36px;
}

.the-ham-text {
    color: #bbbbbb;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin-bottom: 36px;
}

.the-ham-reviewer-name {
    color: #18cfab;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

.the-ham-position {
    color: #bbbbbb;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    margin-bottom: 38px;
}

.the-ham-feedback-container img {
    margin-bottom: 36px;
}

.swiper-slide {
    display: none;
    margin-bottom: 50px;
}

@keyframes myAnim {
    0% {
        transform: translateY(90px);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
    }
}

.swiper-slide-active {
    position: relative;

    animation: myAnim 0.6s ease 0s 1 normal forwards;
    display: block;
}

@keyframes myAnimSecond {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-25px);
    }
}

.swiper-icon-active {
    animation: myAnimSecond 0.7s ease 0s 1 normal forwards;
}

.small-icons-items {
    transition-duration: 1s;
}

.small-icons-item {
    display: inline-block;
    width: 80px;
    height: 73px;
}

.dynamic-buttons-wrapper {
    position: relative;
}

.about-the-ham-text-describe {
    color: #bbbbbb;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.about-the-ham-reviewer-name {
    color: #18cfab;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

.about-the-ham-position {
    color: #bbbbbb;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    margin-bottom: 38px;
}

.swiper-button-right {
    z-index: 1;
    position: absolute;
    bottom: 55px;
    right: 640px;
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    padding: 8px 10px;
    border: 1px solid #bbbbbb;
    background-position: center;
    background-image: url(../img/TheHam-section/swap-right.svg);
}

.swiper-button-left {
    z-index: 1;
    position: absolute;
    bottom: 55px;
    left: 640px;
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    padding: 8px 10px;
    border: 1px solid #bbbbbb;
    background-position: center;
    background-image: url(../img/TheHam-section/swap-left.svg);
}

.swiper-button-left:hover {
    border: 1px solid #18cfab;
    cursor: pointer;
    background-color: #18cfab;
    background-image: url(../img/TheHam-section/swap-left-hover.svg);
}

.swiper-button-right:hover {
    border: 1px solid #18cfab;
    cursor: pointer;
    background-color: #18cfab;
    background-image: url(../img/TheHam-section/swap-right-hover.svg);
}

.footer {
    height: 120px;
    background-color: #22353f;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    color: #aeaeae;
  }
  
  .footer-content span {
    color: #18cfab;
  }
  
  