.card {
    margin: 10px auto;
    border: 2px solid rgb(12, 12, 12);
    background-color: rgba(59, 30, 223, 0.6);
    width: 600px;
    padding: 20px 14px;
    border-radius: 8px;
  }
.title{
    text-align: center;
    font-weight: 700;
}

.text{
    text-align: center;
}

.btn-delete{
    position: relative;
left: 580px;
top: 2px;
    
}